---
import Layout from '../../layouts/Layout.astro';
import {getRepoHtml} from "../../lib/datafetching"
import {ReaderPage} from '@components/index.js';
const { repo } = Astro.params;
Astro.response.headers.set(
  "Cache-Control",
  "max-age=30"
)
const parts = repo && String(repo).split('/');
const user = parts && parts[0]; 
const repositoryName = parts && parts[1];
const data: any = await getRepoHtml(user, repositoryName);
const books = Object.keys(data);
// If the user is not logged in, redirect them to the login page
console.log(books)
if (!data) {
  return Astro.redirect('/404');
}
import "@fontsource/atkinson-hyperlegible"

---

<Layout title="Repo">
	<main class="font-sans">
		<ReaderPage  client:load data={data} user={user} repositoryName={repositoryName}books={books} /> 
	</main>
</Layout>

